<h1 class="center">Sky 全圖鑑</h1>
<%= link_to '＋', new_item_path, class:"btn btn-primary new_item_btn fs-3" %>

<table class="table table-striped table-hover align-middle text-center" data-toggle="table" data-classes="table-striped" id="item-table" >
  <thead class="table-dark">
    <tr>
      <th>icon</th>
      <th data-sortable="true" data-field="kind">部位</th>
      <th data-sortable="true" data-field="name">名稱</th>
      <th data-sortable="true" data-field="source">來源</th>
      <th>描述</th>
      <th data-sortable="true" data-field="rare">稀有度</th>
      <%# <th>圖片連結</th> %>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @items.each do |item| %>
    <tr>
      <td class="center"><%= image_tag item.image_link, class: "rounded", style:"max-height:5vh" %></td>
      <td class="center"><%= t "enum.items.kind.#{item.kind}" %></td>
      <td><%= item.name %></td>
      <td><%= t "enum.items.attribution.#{item.attribution}" %>-<%= item.tag %></td>
      <td><%= item.description %></td>
      <td><%= item.rare %></td>
      <%# <td><% item.image_link</td> %>
      <td><%= link_to '編輯', edit_item_path(item), class:"btn btn-success" %></td>
    </tr>
  <% end %>
  </tbody>
</table>

